div.piece-drag {
	width: 200px;
	height: 200px;
	border: 2px solid black;
	z-index: 110;
	
}

.piece {
    text-align: center;
    padding: 2px 5px;
}
body {
    background-color: lightblue;
}
.help {
    background-color: yellow;
    width: 200px;
    height: 100%;
    float: right;
    padding: 5px;

}



#content {
    padding: 10px;
    background-color: snow;
    min-height: 90%;
    min-width: 90%;
}
#side {
    height: 200px;
}
#main {
    background-color: gainsboro;
    height: 500px;
}
img.puzpiece {
	position: relative;
	z-index: 110;
}

.place-drop {

	z-index: 1;
overflow: hidden;
display: inline-block;
position: relative;
	border: 2px solid black;
	
}

.holder {
	background-color: #2C2C26;
}

.pic {
	z-index: 1;
}

.center {
     margin: 10px auto;
 }