h1
{
    color:Red;
}

li
{
    padding: 4px;
    border-radius: 5px;
    width: 18%;
    border:1px solid #333;
    background: #efefef;
    cursor:pointer;
}

li:hover
{
    background: darkgoldenrod;
}